<div class="container">
  <div class="card" style="border-color:tomato">
    <div class="card-header bg-danger text-white">{{newmember.name | uppercase}}</div>
    <div class="card-body">
      <div class="row">
        <div class=col-lg-4>
          <b>Name:</b>
          <br> {{newmember.name | uppercase}}
        </div>
        <div class="col-lg-4">
          <b>Specialist:</b> {{newmember.specialist}}
        </div>
        <div class="col-lg-4">
          <b>Clinic:</b> {{newmember.clinic}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class=col-lg-4>
          <b>MobileNumber</b> {{newmember.mobNo}}
        </div>
        <div class="col-lg-4">
          <b>Profile for:</b> {{newmember.profile}}
        </div>
        <div class="col-lg-4">
          <b>Date:</b> {{newmember.date | date}}
        </div>
      </div>
      <br>
      <div style="padding-left:500px">
        <a target="_blank" [routerLink]="['/viewProfile',newmember.id]">
          <button class="btn btn-danger btn-sm">View Profile</button>
        </a>
      </div>
    </div>
  </div>
</div>
<br>
<br>