<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-header bg-success text-white" style="padding-left:50px">
       REGISTER
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <label for="email">Email ID:</label>
                    <input type="text" size="30" id="email" [(ngModel)]="user.Email" class="form-control" placeholder="Email ID">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="pass"><br>Password:</label>
                    <input type="password" size="30" id="pass" [(ngModel)]="user.Password" class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="pas"><br>Re enter Password:</label>
                    <input type="password" size="30" id="pas" [(ngModel)]="user.ConfirmPassword" class="form-control" placeholder="Re enter Password">
                </div>
            </div>
        </div><br>
        <div class="card-footer" style="text-align:center">
            <button class="btn btn-primary"   (click)="registered()">Submit</button>
        </div> 
</div>