<nav class="navbar navbar-expand-sm bg-danger fixed-top">
    <a class="navbar-brand" [routerLink]="['/home']" style="color:white">DOCTOR SITES</a>
    <ul class="navbar-nav">
        <li class="nav-item" style="padding-left: 800px">
            <a class="nav-link" [routerLink]="['/register']" *ngIf="!service.isUserLoggedIn()" style="color:white">REGISTER</a>
        </li>
        <li class="nav-item" style="padding-left: 50px">
            <a class="nav-link" [routerLink]="['/login']" *ngIf="!service.isUserLoggedIn()" style="color:white">LOG IN</a>
        </li>
        <li class="nav-item" style="padding-left: 50px" *ngIf="service.isUserLoggedIn()">
            <div class="dropdown">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    My Profile
                    <div class="dropdown-menu" style="background-color:crimson;color:white;text-align: center">
                        <a class="dropdown-item" [routerLink]="['/myProfile']" style="color:white">MY PROFILE</a>
                        <a class="dropdown-item" [routerLink]="['/members']" style="color:white">MEMBERS</a>
                        <a class="dropdown-item" class="nav-link" (click)="logOut()">LOG OUT</a>
                    </div>
                </button>
            </div>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>