<div class="container">
  <br><br><br><br>
  <div class="card">
    <div class="card-header bg-info text-white">Log In</div>
    <div class="card-body" style="padding-left:50px">
      <div class="row">
        <div class="col-lg-6">
          <label for="email">Email ID:</label>
        <input id="email" class="form-control" [(ngModel)]="userName" placeholder="Email ID">
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
            <label for="pass"><br>Password:</label>
          <input type="password" id="pass" class="form-control" [(ngModel)]="password" placeholder="Password">
          </div>
        </div>
    </div><br>
    <div class="card-footer" style="text-align: center"><button class="btn btn-success" (click)="logIn()">Submit</button></div>
  </div>
</div>