<div class="container"><br><br><br><br>
  <div class="card" style="border-color:navy">
    <div class="card-header bg-info"><b>{{member.name  | uppercase}} DETAIL</b></div>
    <div class="body" style="padding-left:150px"><br><br>
    <div class="row">
      <div class="col-lg-4">
        <b>NAME:</b><br>
       {{member.name}} 
      </div>
      <div class="col-lg-4">
          <b>AGE:</b><br>
          {{member.age}}
      </div>
      <div class="col-lg-4">
          <b>GENDER:</b><br>
          {{member.gender}}
      </div>
    </div><br>
    <div class="row">
      <div class="col-lg-4"><b>MOBILE NUMBER:</b><br>{{member.mobNo}}</div>
      <div class="col-lg-4"><b>EMAIL:</b><br>{{member.email}}</div>
      <div class="col-lg-4"><b>PROFILE FOR:</b><br>{{member.profile}}</div>
    </div><br>
    <div class="row">
      <div class="col-lg-4"><b>SPECIALIST:</b><br>{{member.specialist}}</div>
      <div class="col-lg-4"><b>PRACTICE:</b><br>{{member.practice}}</div>
      <div class="col-lg-4"><b>EXPERIENCE:</b><br>{{member.experience}}</div>
    </div><br>
    <div class="row">
      <div class="col-lg-4"><b>CLINIC PLACE:</b><br>{{member.clinic}}</div>
      <div class="col-lg-4"><b>DATE:</b><br>{{member.date}}</div>
    </div> 
    
  </div><br>
    <div class="card-footer bg-info" style="padding-left:50px"><b>COMMENT:</b><br>{{member.comment}}</div>
   
  </div>
</div>